.item-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    'header body'
    'header body'
    'footer footer';
  width: 80%;
  margin: 5% 10%;
}

.item-details-header {
  grid-area: header;
}

.item-details-body {
  grid-area: body;
}

.item-details-footer {
  grid-area: footer;
}

.item-info {
  display: flex;
  flex-flow: row wrap;
}

.item-info > div {
  flex: 0 0 25%;
  margin: 2.5%;
}
