.item-details-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    'route route'
    'header body'
    'header body'
    'footer footer';
  width: 80%;
  margin: 5% 10%;
}
.item-details-routing {
  grid-area: route;
}

.item-details-routing > a {
  font-size: 24px;
  text-decoration: underline;
  color: rgb(108, 160, 255);
}
.item-details-header {
  grid-area: header;
}

.item-details-body {
  grid-area: body;
}

.item-details-footer {
  grid-area: footer;
}

.item-info {
  display: flex;
  flex-flow: row wrap;
}

.item-info > div {
  flex: 0 0 25%;
  margin: 2.5%;
}

@media only screen and (max-width: 800px) {
  .item-details-container{
    grid-template-columns: 1fr;
    grid-template-areas: "route"
    "header"
    "body"
    "footer";
  }

  .item-info > div{
    flex: 0 0 40%;
  }
}


@media only screen and (max-width: 592px){
  .item-details-header > img{
    width: 80%;
  }
}