.item-container {
  display: grid;
  grid-template-columns: 20% repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'header body body'
    'header body body';
  gap: 2%;
  background-color: rgba(255, 255, 255, 0.829);
  border-radius: 0.7rem;
  margin: 1.5rem 0;
  padding: 5rem;
  box-shadow: 0px 0px 15px 0px rgba(224, 224, 224, 1);
}

.card-header {
  grid-area: header;
}

.item-img > img {
  width: 7rem;
}

.card-body {
  grid-area: body;
}

.free-shiping {
  color: rgb(83, 194, 73);
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width:621px) and (max-width: 1026px){
  .item-container{
    margin: 1.5rem 3rem;
  }
}

@media screen and (max-width:620px) {
  .item-container{
    grid-template-areas: "header header header"
    "body body body";
    margin: 1.5rem 2rem;
  }

  .item-img{
    display: flex;
    justify-content: center;
  }
}