.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgba(212, 212, 212, 0.281);
}
form {
  flex: 0 0 40%;
}
input[type='text'] {
  padding: 0.5rem 2rem 0.5rem 5px;
  text-align: start;
  width: 80%;
  border: none;
  border-bottom: 1px solid rgb(152, 171, 177);
  margin: 0 0.3rem;
  border-radius: 5px;
}

.search-btn {
  padding: 0.5rem 0;
  text-align: center;
  width: 15%;
  background-color: rgba(4, 68, 153, 0.788);
  border: none;
  color: white;
  border-radius: 5px;
}

.search-btn:active {
  opacity: 0.5;
}
